@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes sway {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
}

.animate-sway {
  animation: sway 0.5s ease-in-out;
}

html {
  scroll-behavior: smooth;
}
